@media(min-width:768px) {
    header {
        min-height: 100%;
    }
        header .header-content {
        position: absolute;
        top: 75%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}


section {
    padding: 0px 0;
}

#section-dark-grey {
    background-color: #505050;
}